<aside>
  <div class="sidebar-header p-4">
    <%= link_to admin_root_path, class: "text-xl font-bold" do %>
      Admin Dashboard
    <% end %>
  </div>
  <ul class="sidebar-nav">
    <li class="p-2 hover:bg-gray-700">
      <%= link_to admin_users_path, class: "flex items-center" do %>
        <i class="fas fa-users mr-2"></i>
        <span>Usuarios</span>
      <% end %>
    </li>
    <li class="p-2 hover:bg-gray-700">
      <%= link_to admin_products_path, class: "flex items-center" do %>
        <i class="fas fa-boxes mr-2"></i>
        <span>Productos</span>
      <% end %>
    </li>
    <li class="p-2 hover:bg-gray-700">
      <%= link_to admin_sales_path, class: "flex items-center" do %>
        <i class="fas fa-shopping-cart mr-2"></i>
        <span>Ventas</span>
      <% end %>
    </li>
  </ul>
</aside>
